button{
    background-color:aquamarine;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    color: teal;
    font-weight: 800;
    border: 2px red solid;
    

}

h1{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
}

h2{
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: smaller;
    font-weight: 800;
}