body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #F3B06E;
  


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.orange{
  border-radius: 25px;
  background-color: #f0eeed;
}

h1{
  font-style: oblique;
  color: #C14544;
  padding-top: 40px;
}

h2{
  color: #D57A4F;
}

img{
  width: 250px;
}

.centre{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}